<!--TODO: redo login page-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
    <form method="post" th:object="${loginFormDTO}">
        <div class="form-group">
            <label th:for="username">Username
                <input class="form-control" th:field="*{username}"/>
            </label>
            <p class="error" th:errors="*{username}"></p>
        </div>
        <div class="form-group">
            <label>Password
                <input class="form-control" th:field="*{password}" type="password" />
            </label>
            <p class="error" th:errors="*{password}"></p>
        </div>
        <input type="submit" class="btn btn-primary" value="Log In" />
    </form>

    <a th:href="@{/sign-in/forgotPassword}">Forgot your password?</a>
<!--<p>Don't have an account? <a href="/sign-in/register">Register for one.</a></p>-->
</div>
</body>
</html>