<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="otherResources">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
        <link rel="stylesheet" href="path/to/bootstrap-datepicker.min.css">
        <script src="path/to/bootstrap-datepicker.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
    </th:block>

</head>
<body>
<th:block id="content">
    <form method="post">
        <div class="row-gy5">
            <div class="form-group col-6 res">
                <label>Start Date
                    <input th:field="${reservation.startDateTime}" type="date" class="form-control" id="startDate" name="date" data-date-format="mm/dd/yyyy">
                </label>
                <p class="error" th:errors="${reservation.startDateTime}"></p>
            </div>
            <div  class="form-group col-6 res">
                <label>End Date
                    <input th:field="${reservation.endDateTime}" type="date" class="form-control" id="endDate" name="date" data-date-format="mm/dd/yyyy">
                </label>
                <p class="error" th:errors="${reservation.endDateTime}"></p>
            </div>
            <div class="form-group col-6 res">
                <label>Owner
                    <select id="ownerId" name="ownerId" class="form-control">
                        <option value="">Choose a pet</option>
                        <th:forEach items="${owners}" var="owner">
                            <option value="${owner.id}">${owner.getName()}</option>
                        </th:forEach>
                    </select>
                </label>
                <p class="error" th:errors="${reservation.comments}"></p>
            </div>
            <div class="form-group col-6 res">
                <label>Pet
                    <select id="petId" name="petId" class="form-control">
                        <option value="">Choose a pet</option>
                        <th:forEach items="${pets}" var="pet">
                            <option value="${pet.id}">${pet.petName}</option>
                        </th:forEach>
                    </select>
                </label>
                <p class="error" th:errors="${reservation.comments}"></p>
            </div>
            <div class="form-group col-6 res">
                <label>Comment
                    <input th:field="${reservation.comments}" class="form-control">
                </label>
                <p class="error" th:errors="${reservation.comments}"></p>
            </div>
            <div class="form-group col-6 res">
                <input type="submit" value="Create" class="btn btn-success" title="Add reservation">
                <a type="button" class="btn btn-secondary" href="/reservations" title="Cancel reservation">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</th:block>
</body>
</html>