<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
   <th:block id="otherResources">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
      <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
   </th:block>

</head>
<body>
<th:block id="content">
    <form method="post">
       <input type="hidden" id="id" th:field="${reservation.id}">
       <input type="hidden" id="confirmation" th:field="${reservation.confirmation}">
       <input type="hidden" id="pet" th:field="${reservation.pet}">
       <div class="form-group res">
          <label>Confirmation Code
             <input class="form-control" disabled th:value="${reservation.confirmation}">
          </label>
       </div>
       <div class="form-group res">
          <label>Owner
             <input class="form-control" disabled th:value="${reservation.getPet().getOwner().getFullName()}">
          </label>
       </div>
       <div class="form-group res">
          <label>Contact
             <input class="form-control" disabled th:value="${reservation.getPet().getOwner().getEmail()}">
          </label>
       </div>
       <div class="form-group res">
          <label>Pet
             <input class="form-control" disabled th:value="${reservation.getPet().petName}">
          </label>
       </div>
       <div class="form-group res">
          <label>Services
             <div class="input-group has-validation">
                <select id="service" th:field="${reservation.service}" class="form-select" th:errorclass="is-invalid" required>
                   <option th:each="service: ${services}"
                           th:value="${service.id}"
                           th:text="${service.name}">
                   </option>
                </select>
                <div id="validationServiceFeedback" class="invalid-feedback" th:errors="${reservation.service}"></div>
             </div>
          </label>
       </div>
       <div class="form-group res">
          <label>Start Date
             <input th:field="${reservation.startDateTime}" type="date" class="form-control" id="startDate" name="date" data-date-format="mm/dd/yyyy">
          </label>
          <p class="error" th:errors="${reservation.startDateTime}"></p>
       </div>
       <div class="form-group res">
          <label>End Date
             <input th:field="${reservation.endDateTime}" type="date" class="form-control" id="endDate" name="date" data-date-format="mm/dd/yyyy">
          </label>
          <p class="error" th:errors="${reservation.endDateTime}"></p>
       </div>
       <div class="form-group res">
          <label>Comments
             <input th:field="${reservation.comments}" class="form-control">
          </label>
          <p class="error" th:errors="${reservation.comments}"></p>
       </div>
       <div class="form-group res">
          <label>Status
             <div class="input-group has-validation">
                <select id="status" th:field="${reservation.status}" class="form-select" th:errorclass="is-invalid" required>
                   <option th:each="status: ${statuses}"
                           th:value="${status.id}"
                           th:text="${status.name}">
                   </option>
                </select>
                <div id="validationServerStatusFeedback" class="invalid-feedback" th:errors="${reservation.status}"></div>
             </div>
          </label>
       </div>
       <div class="col">
          <div class="form-check form-switch">
             <input class="form-check-input" type="checkbox" role="switch" id="active" th:field="${reservation.active}">
             <label class="form-check-label" for="active">Active</label>
          </div>
       </div>
       <div class="form-group res">
          <input type="submit" value="Save Changes" class="btn btn-success">
          <a type="button" class="btn btn-secondary" href="/reservations/grid" title="Cancel reservation">
             Cancel
          </a>
          <a class="btn btn-primary" title="check in" th:href="@{'/stays/add?reservationId=' + ${reservation.id}}">Check-In</i></a>
       </div>
    </form>
</th:block>
</body>
</html>