<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
   <th:block id="otherResources">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
      <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
   </th:block>

</head>
<body>
<th:block id="content">
   <div class="form-group res">
      <label>Confirmation Code
         <strong><p th:text="${reservation.confirmation}"></p></strong>
      </label>
   </div>
   <div class="form-group res">
      <label>Owner
         <strong><p th:text="${reservation.getPet().getOwner().getFullName()}"></p></strong>
      </label>
   </div>
   <div class="form-group res">
      <label>Pet
         <strong><p th:text="${reservation.getPet().petName}"></p></strong>
      </label>
   </div>
    <form method="post">
       <div class="form-group res">
          <label>Start Date
             <input th:field="${reservation.startDateTime}" type="date" class="form-control" id="startDate" name="date" data-date-format="mm/dd/yyyy">
          </label>
          <p class="error" th:errors="${reservation.startDateTime}"></p>
       </div>
       <div class="form-group res">
          <label>End Date
             <input th:field="${reservation.endDateTime}" type="date" class="form-control" id="endDate" name="date" data-date-format="mm/dd/yyyy">
          </label>
          <p class="error" th:errors="${reservation.endDateTime}"></p>
       </div>
       <div class="form-group res">
          <label>Comments
             <input th:field="${reservation.comments}" class="form-control">
          </label>
          <p class="error" th:errors="${reservation.comments}"></p>
       </div>
       <div class="form-group res">
          <input type="submit" value="Save Changes" class="btn btn-success">
          <a type="button" class="btn btn-secondary" href="/reservations" title="Cancel reservation">
             Back
          </a>
       </div>
    </form>
</th:block>
</body>
</html>