<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="otherResources">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
        <link rel="stylesheet" href="/css/stay.css">
        <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
        <script src="/js/uiUtils.js"></script>
        <script src="/js/stay.js"></script>
        <script th:inline="javascript">

        </script>
    </th:block>
</head>
<body>
<div id="content" class="col-md-12 col-lg-10 col-xl-8  col-xxl-6">
    <div class="d-flex align-items-center col-12 border-bottom pb-2 mb-3">
        <a class="btn btn-secondary" href="/stays" title="Go back to Stays">
            <i class="bi bi-box-arrow-in-left"></i>
        </a>
        <span th:text="${formTitle}" class="fw-semibold px-2">New/Update Stay</span>
        <div th:if="${stay.id}" class="form-toolbar d-flex ms-auto">
            <a class="btn btn-danger" title="Cancel this stay">
                <i class="bi-x-circle"></i>
                <span class="d-none d-sm-inline">Cancel</span>
            </a>
        </div>
    </div>
    <form id="mainForm" class="row g-3 " th:Object="${stay}" method="POST" th:action="@{${submitURL}}">
        <input type="hidden" id="id" th:field="*{id}">
        <!--v Reservation v-->
        <input type="hidden" id="reservationId" th:field="*{reservation}">
        <div class="row bg-light-subtle shadow-sm mx-0 mt-1 py-1">
            <label for="confirmationCode" class="col-sm-2 col-form-label">Confirmation #</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext fw-bold text-lg" id="confirmationCode" th:value="*{reservation.confirmation}" readonly>
            </div>
            <label for="petOwner" class="col-sm-2 col-form-label">Parent</label>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" id="petOwner" th:value="*{reservation.pet.owner.getFullName()}" readonly>
            </div>
            <label for="pet" class="col-sm-2 col-form-label">Pet</label>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" id="pet" th:value="*{reservation.pet.petName}" readonly>
            </div>
            <label for="startDate" class="col-sm-2 col-form-label">From</label>
            <div class="col-sm-4">
                <input type="date" class="form-control-plaintext" id="startDate" data-date-format="mm/dd/yyyy" th:value="*{#dates.format(reservation.startDateTime, 'yyyy-MM-dd')}" readonly>
            </div>
            <label for="endDate" class="col-sm-2 col-form-label">To</label>
            <div class="col-sm-4">
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="date" class="form-control" id="endDate" name="endDateValue" data-date-format="mm/dd/yyyy" th:field="*{reservation.endDateTime}"
                        disabled>
                        <button id="btnEnableEndDate" type="button" class="btn btn-primary" onclick="toggleEndDate()" >
                            <i class="bi-pen"></i>
                        </button>
                    </div>
                </div>
            </div>
            <label for="reservationComments" class="col-sm-2 col-form-label">Comments</label>
            <div class="col-sm-10">
                <textarea class="form-control-plaintext" id="reservationComments" th:text="*{reservation.comments}" rows="2" readonly></textarea>
            </div>
        </div>
        <!--^ Reservation ^-->
        <hr class="my-1"/>
        <div class="col-12">
            <label for="service" class="form-label">Service</label>
            <div class="input-group has-validation">
                <select id="service" class="form-select" th:field="*{reservation.service}">
                    <option selected value="">Select a service...</option>
                    <option th:each="service: ${services}"
                            th:value="${service.id}"
                            th:text="${service.name}">
                    </option>
                </select>
                <div id="validationServerServiceFeedback" class="invalid-feedback" th:errors="*{reservation.service}"></div>
            </div>
        </div>
        <div class="col-3">
            <label for="kennel" class="form-label">Kennel</label>
            <div class="input-group has-validation">
                <select id="kennel"  class="form-select" th:field="*{kennel}">
                    <option selected value="">Select a kennel...</option>
                    <option th:each="kennel: ${kennels}"
                            th:value="${kennel.id}"
                            th:text="${kennel.name}">
                    </option>
                </select>
                <div id="validationServerKennelFeedback" class="invalid-feedback"></div>
            </div>
        </div>
        <div class="col-9">
            <label for="employee" class="form-label">Caretaker</label>
            <div class="input-group has-validation">
                <select id="employee" th:field="*{employee}" class="form-select" th:errorclass="is-invalid" required>
                    <option selected value="">Select a caretaker...</option>
                    <option th:each="caretaker: ${caretakers}"
                            th:value="${caretaker.id}"
                            th:text="${caretaker.getFullName()}">
                    </option>
                </select>
                <div id="validationServerEmployeeFeedback" class="invalid-feedback" th:errors="*{employee}"></div>
            </div>
        </div>
        <div class="col-12 d-grid">
            <button id="btnAddService" class="btn btn-outline-primary" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#additionalServicesContainer"
                    aria-expanded="false"
                    aria-controls="additionalServicesContainer"
                    onclick="addAdditionalService()"
                    th:if="*{additionalServices.size() == 0}">
                <span >Add Additional Service</span>
                <i class="bi-plus-lg"></i>
            </button>
            <div id="additionalServicesContainer" th:class="*{additionalServices.size() == 0} ? collapse : null">
                <table
                    id="additionalServicesTable"
                    data-toggle="table"
                    class="table-striped">
                    <thead>
                    <tr>
                        <th data-halign="center" data-sortable="true">Qty</th>
                        <th data-halign="center" data-sortable="true">Service</th>
                        <th data-halign="center">Unit price</th>
                        <th data-halign="center">Description</th>
                        <th data-halign="center">Subtotal</th>
                        <th data-halign="center" data-align="center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service: *{additionalServices}">
                        <td th:text="${service.quantity}"></td>
                        <td th:text="${service.service.name}"></a></td>
                        <td th:text="${service.pricePerUnit}"></td>
                        <td th:text="${service.description}"></td>
                        <td th:text="${service.getSubTotal()}"></td>
                        <td>
                            <button class="btn btn-primary" title="Update/View"><i class="bi-pen"></i></button>
                            <button class="btn btn-danger"  title="Delete"><i class="bi-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3">
            <label for="status" class="form-label">Status</label>
            <div class="input-group has-validation">
                <select id="status" th:field="*{status}" class="form-select" th:errorclass="is-invalid" required>
                    <option th:each="status: ${statuses}"
                            th:value="${status.id}"
                            th:text="${status.name}">
                    </option>
                </select>
                <div id="validationServerStatusFeedback" class="invalid-feedback" th:errors="*{status}"></div>
            </div>
        </div>
        <div class="col-12" th:if="*{id}">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="active" th:field="*{active}">
                <label class="form-check-label" for="active">Active</label>
            </div>
        </div>
        <div class="col-12 d-flex p-2">
            <button class="me-auto btn btn-secondary o-1" title="Clear form" type="reset">
                <i class="bi bi-eraser"></i>
            </button>
            <a type="button" class="btn btn-secondary mx-1" href="/stays/grid" title="Cancel register and go back">
                Cancel
            </a>
            <button type="submit" class="btn btn-primary mx-1" title="Save changes">
                <i class="bi bi-save"></i>
                Save
            </button>
        </div>
    </form>


</div>
</body>
</html>
