<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="otherResources">
        <script src="https://cdn.jsdelivr.net/npm/datalist-css/dist/datalist-css.min.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <!-- comment from test -->
    </th:block>
</head>
<body>
<th:block id="content">

<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
    <form th:action="@{/users/addUserForm}" th:object="${user}" method="post">
        <div class="form-group">
            <label th:for="username">Username
                <input class="form-control" th:field="${addNewUserDTO.username}" />
            </label>
            <p class="error" th:errors="${addNewUserDTO.username}"></p>
        </div>
        <div class="form-group">
            <label>Password
                <input class="form-control" th:field="${addNewUserDTO.password}" type="password" />
            </label>
            <p class="error" th:errors="${addNewUserDTO.password}"></p>
        </div>
        <div class="form-group">
            <label>Verify Password
                <input class="form-control" th:field="${addNewUserDTO.verifyPassword}" type="password" />
            </label>
        </div>
        <div class="col-md-2">
            <label>Roles: </label>
            <select class="form-control">
                <option class="select-picker" data-search="true">Select one...</option>
                        <option th:each="role: ${listRoles}"
                                th:value="${role.id}"
                                th:text="${role.name}">
                        </option>
            </select>
            <label for="exampleDataList" class="form-label">Employee</label>
            <input autocomplete="off" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Select an Employee">
            <datalist id="datalistOptions">

                <option th:each="employee: ${listEmployees}"
                        th:value="${role.id}"
                        th:text="${role.name}"></option>

            </datalist>
        </div>
        <input type="submit" class="btn btn-primary" value="Add User"/>
        <button type="button" class="btn btn-secondary" onclick="location.href='/users'">Cancel</button>
    </form>
</div>
</th:block>
</body>
</html>