<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="otherResources">
        <!-- comment from test -->
    </th:block>
</head>
<body>
<th:block id="content">
<form th:action="@{/users/saveUser}" th:object="${user}"
      method="post" style="max-width: 600px; margin: 0 auto;">
    <input type="hidden" th:field="${user}"/>
    <div class="m-3">
        <td><input type="hidden" th:field="${user.id}" readonly="readonly" /></td>
        <div class="form-group">
            <label th:for="username">Username
                <input class="form-control" th:field="${user.username}"/>
            </label>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label">Roles: </label>
            <div class="col-8">
                <th:block th:each="role: ${listRoles}">
                    <input type="radio" th:field="${user.role}"
                           th:text="${role.name}" th:value="${role.id}" class="m-2" />
                </th:block>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='/users'">Cancel</button>
        </div>
    </div>
</form>
</th:block>
</body>
</html>