<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="otherResources">
        <!-- comment from test -->
    </th:block>
</head>
<body>
<th:block id="content">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role: ${listRoles}">
            <td th:text="${role.name}"></td>
            <td  style="text-align: right"><a class="btn btn-danger" th:href="@{'/users/roles/deleteRoleForm/' + ${role.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="location.href='/users/roles/addRoleForm'">Add Role</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/users'">Back</button>
</th:block>
</body>
</html>