<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="otherResources">
        <!-- comment from test -->
    </th:block>
</head>
<body>
<th:block id="content">
<h1>Add Owner</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="firstName">First Name</label>
        <input class="form-control" th:field="${owner.firstName}" />
        <label th:for="lastName">Last Name</label>
        <input class="form-control" th:field="${owner.lastName}" />
        <label th:for="address">Address</label>
        <input class="form-control" th:field="${owner.address}" />
        <label th:for="address2">Address 2</label>
        <input class="form-control" th:field="${owner.address2}" />
        <label th:for="firstName">Phone Number</label>
        <input class="form-control" th:field="${owner.phoneNumber}" />
        <label th:for="firstName">Email</label>
        <input class="form-control" th:field="${owner.email}" />
        <label th:for="firstName">Notes</label>
        <input class="form-control" th:field="${owner.notes}" />
    </div>

    <input type="submit" value="Add Owner" />
</form>
    <a th:href="@{../index}">Return</a>
</th:block>
</body>
</html>