<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: layout(~{:: #otherResources}, ~{:: #content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="otherResources">
        <!-- comment from test -->
    </th:block>
</head>
<body>
<th:block id="content">
<h1 th:text="${'Owner: ' + owner.name}">Default Title</h1>


<div class="job-listing">
    <p th:text="${'Name: ' + owner.name}"></p>
</div>

    <a th:href="@{../index}">Return</a>
</th:block>
</body>
</html>